/* Stili specifici per la pagina delle produzioni */
.production-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.production {
    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.production:hover {
    background-color: #ddd;
}

.production-details {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.production-name {
    font-size: 24px;
    font-weight: bold;
}

.production-description p {
    margin: 5px 0;
}

.production-description {
    margin-bottom: 20px; /* Aggiungi uno spazio tra la descrizione e il bottone */
}

.production-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.events-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.events-button:hover {
    background-color: #0056b3;
}
