.slideshow-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: max-content;
}

.slide {
    flex: 0 0 auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

/* Slide count responsive */
@media (max-width: 600px) {
    .slide {
        width: 100%;
    }
}
@media (min-width: 601px) and (max-width: 1000px) {
    .slide {
        width: 50%;
    }
}
@media (min-width: 1001px) and (max-width: 1400px) {
    .slide {
        width: 33.3333%;
    }
}
@media (min-width: 1401px) {
    .slide {
        width: 25%;
    }
}

/* Frecce */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(169, 169, 169, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.prev { left: 10px; }
.next { right: 10px; }

/* Play/Pause */
.play-pause {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(169, 169, 169, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-pause:hover {
    background-color: rgba(169, 169, 169, 0.8);
}
